@model Entretenimiento.WebApplication.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Película</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldwideBoxOfficeGross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldwideBoxOfficeGross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Release)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Release)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        <i class="fas fa-edit"></i>&nbsp;Editar
    </a> |
    <a asp-action="Index">
        <i class="fas fa-undo-alt"></i>&nbsp;Retornar
    </a>
</div>
