@model Entretenimiento.WebApplication.Models.Series

@{
    ViewData["Title"] = "Delete";
}


<h1>Eliminar</h1>

<h3>¿Está seguro de borrar la serie?</h3>
<div>
    @*<h4>Series</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfEpisodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEpisodes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Release)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">
            <i class="fas fa-undo-alt"></i>&nbsp; Retornar
        </a>
    </form>
</div>
